#viewer-container #viewer,.pdfViewer.full{
  margin-top: 5vh;
  padding: 0 !important;
  margin-bottom: 5vh;
}


#viewer-container{
  background-color: rgba(128, 125, 125, 0.671);
}
.pdfViewer .removePageBorders{
  background-color: rgb(206, 214, 216);
}
/* .pdfViewer .page{
  width: 100% !important;
} */
.linkAnnotation{
  display: none;
}
.pdfViewer .canvasWrapper{
  margin: auto;
}
