{% extends "home\basic.html"%}
{% block title %}
    HOME TITLE
{% endblock title%}

{% block css%}
    h1{
        color:magenta;
    }
{% endblock css%}
{% block body%}
    {% if messages %}
<ul class="messages list-unstyled">
    {% for message in messages %}
    <li {% if message.tags %}>

      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong> {{ message }} </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
    <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Movies Flix</h1>
        {% if user.is_authenticated  %}
        Welcome {{request.user.last_name}}
          {% endif %}
        <p>Nibodhera ! is an India massive open online course provider founded in 2012 by Stanford University computer science professors Andrew Ng and Daphne Koller.Nibodhera works with universities and other organizations to offer online courses, certifications, and degrees in a variety of subjects. In 2021 it was estimated that about 150 universities offered more 4,000 courses through Nibodhera.</p>
        <div class="d-flex">
          <p class="mx-2"><a class="btn btn-primary btn-lg" href="/members/login" role="button">Login &raquo;</a></p>
          <p><a class="btn btn-primary btn-lg" href="/members/signup" role="button">Sign Up &raquo;</a></p>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>

  <footer class="container">
    <p>&copy; Company 2017-2018</p>
  </footer>

{% endblock body %}